body{
    background-image: url("https://cdn.glitch.global/6afc5710-f4a2-4890-8b25-ec4f9240cde6/flamingo.jpg?v=1680135401456");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.conteiner{display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn{
    background-color: beige;
    border-radius: 50px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #ff3d68;
    position: fixed;
    font-family: 'Lobster', cursive;
}
#par{ font-family: 'Lobster', cursive;
    display: none;
    font-size: 28px;
    background-color: beige;
    margin-top: 500px;
    padding: 20px;
    width: 70%;
    text-align: center;
    border-radius: 5px solid #78dec7;

}